body {
  background-color: rgb(48, 44, 44);
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

  p {
    color: white;
    font-size: 25px;    
  }
}